.img-slider{
    background-image: url(../images/img1.jpg);
    background-size: cover !important;
    background-position:center;
    background-repeat: no-repeat;
    color: #fff;
    max-width: 100%;
    height: 700px;

}
.logo{
    font-family: "Playfair";
    font-size: 3.8rem;
}
.btn{
    color: white !important;
    font-weight: bold;
    font-size: 15px;
    border: 5px solid white;
    outline: none;
    box-shadow: -1px 6px 1px -2px rgba(0,0,0,0.15);
    margin-left: 900px !important;
}
.btn2{
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: .9px;
    text-decoration: none;
    background-color: #de3f00;
    padding: 16px 21px 13px;
    margin-top: 29px;
    color: white;
    border: none;
}
.bg-content{
    padding: 120px 40px;
}